*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
}

footer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  min-height: 100px;
  background:#3586ff;
}

footer .social_icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li{
  list-style: none;
}

footer .social_icon li a{
  display: inline-block;
  margin: 0 10px;
  font-size: 2em;
  color: #fff;
  transition: .5s;
}

footer .social_icon li a:hover{
  transform: translateY(-10px);
}